.card1{
    height: 600px;
    padding-top: 100px;
    margin-top: 50px;
    
}

.card1 img{
    padding-right: 50px;
}
.card1 h4{

    padding-bottom: 10px;
}

#hiperl h2{
    text-align: left;
    font-size: 26pt;
}
#hiperl{
    margin: 50px;
}